* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    /* max-width: 1330px; */
    margin: auto;
}

.header .logo {
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cover.png);
    text-align: center;
}

.nav-logo {
    display: none;
}

.header .logo img {
    margin: 27px;
}

#button {
    display: none;
}

.babel-toggle {
    display: none;
}

.nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    background: #ffb628;
    justify-content: center;
    margin: 0;
    line-height: 40px;
}

@font-face {
    font-family: "Myrmenu";
    src: url(../fonts/MYRIADPRO-LIGHTSEMICN_0.ttf);
}

.nav ul li a {
    text-decoration: none;
    padding: 0 28px;
    font-size: 18px;
    color: #000;
    font-family: "Myrmenu";
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 50px;
}

ul li {
    list-style: none;
}

.menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu li::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 25px;
    background-image: linear-gradient(#c9c9c9c0, black, #c9c9c9c0);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu li:first-child::before {
    display: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}


/* 
.menu li a:hover,
.menu li:hover a {
    color: orange;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
} */

.menu li ul {
    background-color: #ffb628;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 0 10px #666;
    width: 100%;
    height: 200px;
}

.menu li:hover ul {
    display: block;
}

.menu li ul li {
    width: 30.5%;
    display: inline-block;
}

.normManu {
    position: relative;
}

.menu li.normManu ul {
    width: 200px;
    height: auto;
}

.menu li.normManu ul li {
    display: block;
    width: 100%;
}

.menu li.normManu ul li a {
    display: block;
}

.menu li:hover ul li a {
    display: inline-block;
    color: black;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.menu li:hover ul li:hover a {
    background-color: #fff;
    color: orange;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.time {
    font-style: italic;
    font-size: 14px;
}

@font-face {
    font-family: "Myr";
    src: url(../fonts/MYRIADPRO-LIGHTSEMIEXT_0.ttf);
}

.tittle-detail {
    font-family: "Myr";
    font-size: 24px;
    color: #7b0200;
    font-weight: 100;
}

.content {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}

.content-left {
    max-width: 870px;
}

.content-right {
    max-width: 270px;
}

.news-item__content a {
    text-decoration: none;
    font-family: "Roboto";
    font-size: 18px;
    color: #7b0200;
}


/* content-left-cate  */


/* breadcb */

.breadcb {
    display: flex;
    padding: 0;
    padding-top: 25px;
}

.breadcb__item {
    padding: 0 15px;
    position: relative;
}

.breadcb__item::before {
    content: ">";
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    color: #333333;
}

.breadcb__item:first-child {
    padding-left: 0;
}

.breadcb__item:first-child::before {
    content: "";
}

.breadcb__link {
    text-decoration: none;
    color: #333333;
}


/* article */

.article {
    position: relative;
    width: 100%;
}

.article-content {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.531);
    padding: 28px 15px;
}

.article-header {
    font-family: "Roboto";
    font-weight: normal;
    color: #ffb628;
    font-size: 18px;
}

.article-text {
    font-family: "Roboto";
    color: #ccc;
    font-size: 14px;
}

.article img {
    width: 100%;
    object-fit: contain;
}

.article__time {
    display: flex;
    align-items: center;
}

.article__clock {
    font-style: italic;
    padding-right: 5px;
}

.article__date {
    font-style: italic;
    padding-left: 5px;
}


/* lates new */

.list-news {
    display: flex;
    flex-direction: column;
}

.news-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;
}

.news-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.news-item__img {
    /* max-width: 370px; */
    width: 370px;
}

.news-item__content {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    width: 500px;
}

.news-item__content .content-info {
    display: flex;
    justify-content: space-between;
}

.lates-news__tittle {
    font-family: "myFont";
    font-size: 50px;
    color: #7b0200;
    margin-top: 27px;
}


/* paginate */

.vote {}

.content-text {
    line-height: 30px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.paginate {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.icon-left {}

.paginate-number {
    display: flex;
    margin-bottom: 0;
}

.paginate-item {
    padding: 0;
}

.paginate-link {
    background-color: #7b0200;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    margin-right: 10px;
    font-size: 14px;
    color: #f9c636;
}

.paginate-active {
    background-color: #e1e1e1;
    color: #7b0200;
}

.content-header {
    font-family: "Roboto";
    font-size: 18px;
    color: #7b0200;
}

@font-face {
    font-family: "myFont";
    src: url(../fonts/UVNKieu_B.TTF);
}

.box::after {
    position: absolute;
    bottom: 0;
    content: "";
    border-bottom: 1px solid #000;
    width: 100%;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
}

.text {
    flex-wrap: wrap;
    font-family: Arial;
    font-size: 14px;
    text-align: start;
}

.vote {
    display: flex;
    padding: 7px 0 7px;
}

.vote ion-icon {
    margin-right: 3px;
}

.form-colum-search {
    display: flex;
    justify-content: space-between;
}

.box2 .form {
    width: 100%;
    margin-bottom: 20px;
    background: black;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.box2 .form .tittle-form {
    background: #ffb628;
    color: black;
    font-size: 14px;
    font-weight: unset;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.box2 {
    color: #ffb628;
    font-size: 14px;
}

.tukhoa {
    width: 100%;
    height: 41px;
    margin-top: 22px;
}

.tukhoa2 {
    width: 100%;
    height: 41px;
    padding-left: 10px;
}

.selects {
    margin-top: 40px;
}

.selects #thanhpho {
    width: 100%;
    height: 41px;
}

.box2 .form2 {
    margin-bottom: 20px;
    background: black;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.box2 .form2 .tittle-form {
    background: #ffb628;
    color: black;
    font-size: 14px;
    font-weight: unset;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.list-khudl {
    display: block;
    padding: 11px 1px 0 5px;
}

.box2 {
    color: #ffb628;
    font-size: 14px;
}

.khudl {
    display: flex;
    margin-bottom: 6px;
}

.text-top {
    font-size: 14px;
    color: #fdfbfb;
    margin-left: 7px;
}

.text-top .p2 {
    font-size: 14px;
    color: #999999;
    margin-top: -10px;
}

.box2 {
    padding-top: 25px;
    /* padding-left: 25px; */
    margin-top: 38px;
}

.box-form {
    padding: 0 15px;
}

.banner {
    padding-top: 5px;
    /* padding-left: 23px; */
}

.banner .banner-bottom {
    /* margin-top: 15px; */
}

@font-face {
    font-family: "Myr";
    src: url(../fonts/MYRIADPRO-LIGHTSEMIEXT_0.ttf);
}

.footer-menu {
    padding: 30px 25px;
    background-color: #ebebeb;
}

.footer-menu-content {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer-info {
    width: 50%;
}

.footer-group ul {}

.footer-group ul li {
    padding-left: 0;
    list-style: disc;
}

.footer-group .text-menu {
    font-weight: 500;
}

.footer-group .menu-1 {}

.footer-group .menu-2 {}

.footer-info ul {
    padding-left: 25px;
}

.footer-info ul li {
    padding-left: 0;
}

.footer-menu ul li {
    padding: 15px 0;
    margin-top: -20px;
}

.footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 175px;
    padding-top: 30px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #000;
}

.qc {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.qc .banner {
    width: 100%;
}


/* Ipad pro */

@media only screen and (max-width: 1024px) {
    /* Menu */
    .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        /* padding: 8px 0; */
    }
    .nav-logo {
        display: block;
        width: 75%;
        background-color: #f1a917;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 15px;
        height: 50px;
        font-size: 18px;
        color: #000;
        font-family: "Myrmenu";
        text-transform: uppercase;
        font-weight: bolder;
    }
    .nav .menu {
        display: none;
    }
    .menu li::before {
        display: none;
    }
    .babel-toggle {
        display: flex;
        justify-content: flex-end;
        width: 25%;
        cursor: pointer;
        background-color: #f1a917;
        text-decoration: none;
        height: 50px;
        font-size: 18px;
        color: #000;
        font-family: "Myrmenu";
        text-transform: uppercase;
        font-weight: bolder;
        padding-top: 8px;
        padding-right: 15px;
    }
    .babel-toggle .menu-icon div {
        width: 35px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
    }
    #button {
        display: block;
        cursor: pointer;
        width: 100%;
        justify-content: center;
    }
    #toggle-menu-id:checked~.menu {
        display: flex;
        flex-direction: column;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .menu li {
        display: block;
        width: 100%;
        /* text-align: ; */
        border-top: 1px solid white;
    }
    .nav ul li a {
        padding-left: 15px;
    }
    /* content */
    .content {
        display: flex;
        /* flex-direction: column-reverse; */
        /*Sắp xếp item đảo ngược theo chiều dọc */
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .content-left {
        padding: 0 15px;
        max-width: 100%;
    }
    .box .nav-content {
        margin-top: 0;
        padding-top: 15px;
    }
    .box .nav-content ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    .box .nav-content ul li {
        padding: 0;
    }
    .box .nav-content ul li a {
        font-size: 16px;
        width: auto;
    }
    .content-right {
        max-width: 100%;
        padding: 15px;
    }
    .content-right .box2 {
        padding: 0;
    }
    .content-right .box2 form {
        width: 100%;
        height: 100%;
    }
    .content-right .box2 .box-form {
        padding: 25px;
        height: 100%;
    }
    .tukhoa {
        width: 100%;
        height: 41px;
        margin-top: 22px;
        margin-left: 0;
    }
    .tukhoa input {
        width: 100%;
    }
    .selects {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .selects #thanhpho {
        width: 100%;
    }
    .colum {
        margin-top: 20px;
        margin-left: 0;
    }
    .search {
        cursor: pointer;
    }
    .form-colum-search {
        display: flex;
        justify-content: space-between;
    }
    .list-khudl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 7px 20px 30px;
        grid-gap: 1%;
    }
    .khudl {
        padding: 0 10px;
        width: 49.5%;
    }
    .khudl img {
        margin: 10px 0;
    }
    .text-top {
        margin: 5px 10px;
    }
    .qc {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        justify-content: space-between;
    }
    .qc .banner {
        width: 49%;
    }
    .qc .banner img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /* FOOTER */
    .footer-menu {
        display: flex;
        grid-gap: 0;
        flex-direction: column;
        padding: 15px 30px;
    }
    .footer-menu li {
        padding-right: 0;
    }
    .footer-menu-content {
        flex-wrap: wrap;
    }
    .footer-group {
        justify-content: inherit;
        width: 100%;
    }
    .footer-group .menu-2 {
        margin-left: 150px;
    }
    .footer-info {
        width: 100%;
        padding-left: 0;
    }
    .footer-info ul {
        padding-left: 0;
    }
    .footer-group .menu-1 {}
    .footer-group .menu-2 {}
    .footer {
        padding: 15px 30px;
        height: 100%;
    }
}


/* Mobile */

@media only screen and (max-width: 768px) {
    /* Menu */
    .nav {
        /* display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0; */
    }
    .nav .menu {
        display: none;
    }
    .babel-toggle {}
    #button {
        display: block;
        cursor: pointer;
        width: 100%;
        justify-content: center;
    }
    #toggle-menu-id:checked~.menu {
        display: flex;
        flex-direction: column;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .menu li {
        display: block;
        width: 100%;
        border-top: 1px solid white;
    }
    /* content */
    .content {
        display: flex;
    }
    .content-left {
        padding: 0 15px;
    }
    /* article */
    .article-content {
        padding: 10px 15px;
        text-decoration: none;
    }
    .article-header {
        font-size: 15px;
        text-decoration: none;
    }
    .article-text {
        font-size: 13px;
    }
    /* box address-filter */
    .box .nav-content {
        margin-top: 0;
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
    .box .nav-content ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    .box .nav-content ul li {
        padding: 0;
    }
    .box .nav-content ul li a {
        font-size: 12px;
    }
    .content-left {}
    .news-item {
        flex-wrap: wrap;
    }
    .news-item__img {
        width: 100%;
    }
    .news-item__content {
        width: 100%;
        padding-left: 0;
    }
    .news-item__content .content-header {
        margin-top: 15px;
        font-size: 25px;
        text-align: center;
    }
    .news-item__content .content-info {
        font-size: 25px;
    }
    .news-item__content .content-text {
        font-size: 20px;
        margin-top: 15px;
    }
    /* paginate */
    .paginate {
        justify-content: center;
    }
    .content-right {
        max-width: 100%;
        /* padding: 25px; */
    }
    .content-right .box2 {
        padding: 0;
    }
    .content-right .box2 form {
        width: 100%;
        height: 100%;
    }
    .content-right .box2 .box-form {
        padding: 25px;
        height: 100%;
    }
    .tukhoa {
        width: 100%;
        height: 41px;
        margin-top: 22px;
        margin-left: 0;
    }
    .tukhoa input {
        width: 100%;
    }
    .selects {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .selects #thanhpho {
        width: 100%;
    }
    .colum {
        margin-top: 20px;
        margin-left: 0;
    }
    .search {
        cursor: pointer;
    }
    .form-colum-search {
        display: flex;
        justify-content: space-between;
    }
    .qc {
        display: flex;
        flex-direction: column;
    }
    .qc .banner {
        width: 100%;
        margin-bottom: 30px;
    }
    .khudl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list-khudl {
        align-items: center;
        justify-content: space-between;
        margin: -20px 7px -20px -30px;
    }
    .khudl img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /* FOOTER */
    .footer-menu {
        display: flex;
        grid-gap: 0;
        flex-direction: column;
        padding: 15px 30px;
    }
    .footer-menu li {
        padding-right: 0;
    }
    .footer-group {}
    .footer-group .menu-1 {
        width: 100%;
    }
    .footer-group .menu-2 {
        width: 100%;
        margin-left: 0;
    }
    .footer-info {}
    .footer {
        padding: 15px 30px;
        height: 100%;
    }
}