* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    /* max-width: 1330px; */
    margin: auto;
}

.header .logo {
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cover.png);
    text-align: center;
}

.header .logo img {
    margin: 27px;
}

#button {
    display: none;
}

.babel-toggle {
    display: none;
}

.nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    background: #ffb628;
    justify-content: center;
    margin: 0;
    line-height: 40px;
}

@font-face {
    font-family: "Myrmenu";
    src: url(../fonts/MYRIADPRO-LIGHTSEMICN_0.ttf);
}

.nav ul li a {
    text-decoration: none;
    padding: 24px;
    font-size: 18px;
    color: #000;
    font-family: "Myrmenu";
    text-transform: uppercase;
    font-weight: bold;
}

ul li {
    list-style: none;
    padding: 16px 25px;
}

.menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.menu li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 20px;
}

.menu li a {
    text-decoration: none;
    color: black;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.menu li a:hover,
.menu li:hover a {
    color: orange;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.menu li ul {
    background-color: #ffb628;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    box-shadow: 0 0 10px #666;
    width: 100%;
    height: 200px;
}

.menu li:hover ul {
    display: block;
}

.menu li ul li {
    width: 30.5%;
    display: inline-block;
}

.normManu {
    position: relative;
}

.menu li.normManu ul {
    width: 200px;
    height: auto;
}

.menu li.normManu ul li {
    display: block;
    width: 100%;
}

.menu li.normManu ul li a {
    display: block;
}

.menu li:hover ul li a {
    display: inline-block;
    color: black;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.menu li:hover ul li:hover a {
    background-color: #fff;
    color: orange;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

.time {
    font-style: italic;
    font-size: 14px;
}

@font-face {
    font-family: "Myr";
    src: url(../fonts/MYRIADPRO-LIGHTSEMIEXT_0.ttf);
}

.tittle-detail {
    font-family: "Myr";
    font-size: 24px;
    color: #7b0200;
    font-weight: 100;
}

.content {
    display: flex;
    justify-content: center;
    max-width: 1165px;
    margin: 0 auto;
}

.content-with {}

.content-left {
    width: 870px;
}

.breadcb {
    display: flex;
    padding: 0;
    padding-top: 25px;
}

.breadcb__item {
    padding: 0 15px;
    position: relative;
}

.breadcb__item::before {
    content: ">";
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    color: #333333;
}

.breadcb__item:first-child {
    padding-left: 0;
}

.breadcb__item:first-child::before {
    content: "";
}

.breadcb__link {
    text-decoration: none;
    color: #333333;
}

.article__time {
    display: flex;
    align-items: center;
}

.article__clock {
    font-style: italic;
    padding-right: 5px;
}

.article__date {
    font-style: italic;
    padding-left: 5px;
}

.article__header {
    color: #7b0200;
    font-size: 24px;
    font-family: "Myr";
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.article__content {
    font-size: 14px;
}

.article__content img {
    margin-bottom: 20px;
}


/* Feedback */

.feedback {}

.feedback a {
    text-decoration: none;
}

.feedback__top {
    display: flex;
}

.stars {
    display: flex;
    padding-left: 0;
}

.stars__item {
    padding: 0;
    padding-right: 5px;
}

.stars__link {}

.feedback__social {}

.facebook__like {}

.facebook__like img {}

.facebook__share {}

.share__count {
    color: #333333;
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 0 5px;
    position: relative;
}


/* .share__count::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: red;
  border: 1px solid #ccc;
  top: 3px;
  left: -3px;
} */

.zalo__share {}

.feedback__bottom {}

.comment__header {
    display: flex;
    justify-content: space-between;
}

.comment__header-count {}

.comment__header-sort {
    display: flex;
}

.comment__header-sort form {
    margin-left: 10px;
}

.vote {
    display: flex;
    padding: 7px 0 7px;
}

.vote ion-icon {
    margin-right: 3px;
}

.comment__content {
    display: flex;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
    height: 75px;
}

.comment__avatar {
    width: 45px;
    height: 45px;
}

.comment__avatar img {
    height: 45px;
    object-fit: contain;
}

.comment__from {
    display: block;
    margin-left: 10px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.comment__from input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: #333333;
    font-size: 14px;
}

@font-face {
    font-family: "myFont";
    src: url(../fonts/UVNKieu_B.TTF);
}

.name-content {
    font-family: "myFont";
    font-size: 50px;
}

.box {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    height: 63px;
    width: 100%;
    margin-bottom: 15px;
}

.nav-content {
    /* margin-left: 190px; */
    margin-top: 13px;
}

.nav-content ul {
    display: flex;
}

.nav-content a {
    font-size: 14px;
    font-family: Arial;
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
}

.nav-content a:hover {
    background-color: #ebebeb;
    color: #000;
    border: 1px solid #000;
    font-weight: bold;
}

.list-cards {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.cards img {
    width: 100%;
    /* object-fit: cover;
    display: block; */
}

.box-tittle {
    background-color: #ebebeb;
    padding: 10px;
}

.spa-info {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}

.box-tittle .card-tittle {
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto";
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
}

.text {
    flex-wrap: wrap;
    font-family: Arial;
    font-size: 14px;
    text-align: start;
}

.card-name {
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
}

.vote {
    display: flex;
    padding: 7px 0 7px;
}

.vote ion-icon {
    margin-right: 3px;
}

.box-tittle .text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Giới hạn số dòng hiển thị*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* .nav-mb a{
    border: 1px solid #000;
    
    background-color: #ebebeb;
    margin-top: 100px;
  
  } */

.box2 .form {
    height: 282px;
    width: 269px;
    margin-bottom: 20px;
    background: black;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.box2 .form .tittle-form {
    background: #ffb628;
    color: black;
    font-size: 14px;
    font-weight: unset;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.box2 {
    color: #ffb628;
    font-size: 14px;
}

.tukhoa {
    width: 241px;
    height: 41px;
    margin-top: 22px;
    margin-left: 13px;
    margin-right: 10px;
}

.tukhoa2 {
    width: 241px;
    height: 41px;
    text-align: center;
}

.selects {
    margin-top: 40px;
    margin-left: 13px;
    margin-right: 10px;
}

.selects #thanhpho {
    width: 241px;
    height: 41px;
}

.search2 {
    background-color: #ffb628;
    border: 1px solid #ffb628;
    width: 58px;
    height: 29px;
    margin-top: 30px;
    margin-left: 85px;
}

.colum {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.box2 {
    padding-top: 25px;
    padding-left: 25px;
}

.banner {
    padding-top: 5px;
    padding-left: 23px;
}

.banner .banner-bottom {
    margin-top: 15px;
}

.content-mid {
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cover2.png);
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 35px;
    padding: 30px 0;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.content-box {
    float: left;
    margin-left: 80px;
}

.content-box .text-content {
    font-size: 18px;
    color: #fffefe;
}

.content-box .text-content-bot {
    font-style: italic;
    font-size: 14px;
    color: #999999;
}

.content-name-mid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 4), 1fr));
    padding: 25px 85px 0;
}

.name-mid {
    font-family: "myFont";
    src: url(../fonts/UVNKieu_B.TTF);
    color: #d1a833;
}

.name-mid h1 {
    font-size: 50px;
}

.content-mid-2 {
    background-image: url(../images/cover3.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.content-mid-2 .name-ct2 {
    text-align: center;
}

.content-mid-2 .textbox2 {
    padding: 10px 15px;
    background-color: #ffffff;
}

@font-face {
    font-family: "Myr";
    src: url(../fonts/MYRIADPRO-LIGHTSEMIEXT_0.ttf);
}

.content-mid-2 .text-content-2 {
    font-size: 14px;
    font-weight: 900;
    font-family: "Myr";
    color: #7b0200;
}

.content-mid-2 .text-content-bot-2 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-mid-2 .text-box3 {
    border: 1px solid #7b0200;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    text-align: center;
}

.see-more {
    width: 100%;
    padding: 0 85px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.see-more .text-box3 {}

.text-box3 .xtc {
    font-size: 18px;
    font-family: "Myr";
    color: #333333;
    margin-top: 10px;
}

.content-mid-2 .flex-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-gap: 30px;
    margin-top: 20px;
    /* padding: 0 85px; */
    width: 1165px;
    margin: 0 auto;
}

.content-box2 {
    /* width: 33%; */
}

.content-box2 img {
    width: 100%;
}

.name-ct2s {
    margin-top: 50px;
    text-align: center;
}

.name-ct2s .name-2 {
    font-family: "myFont";
    color: #7b0200;
    font-size: 50px;
    font-weight: bold;
}

.name-ct2s .vien2 {
    margin-top: -70px;
}


/* .footer-menu {
    display: flex;
    background-color: #ebebeb;
    width: 100%;
    padding: 35px, 0;
  }
  
  .footer-menu li a {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
  
  
  }
  
  .text-menu {
    font-weight: bold;
    margin-left: 80px;
    margin-top: 35px;
    margin-bottom: 18px;
  
  }
  
  .text-menu2 {
    margin-left: 100px;
    margin-top: 30px;
  
  } */

.footer-menu {
    padding: 30px 80px;
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 1fr 1fr;
    background-color: #ebebeb;
}

.footer-group {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 1fr 1fr;
}

.footer-group ul {}

.footer-group ul li {
    padding-left: 0;
    list-style: disc;
}

.footer-group .text-menu {
    font-weight: 500;
}

.footer-group .menu-1 {}

.footer-group .menu-2 {}

.footer-info {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 1fr 5fr;
}

.footer-info ul {
    padding-left: 0;
}

.footer-info ul li {
    padding-left: 0;
}

.footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 175px;
    padding-top: 30px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #000;
}

.footer-menu ul li {
    text-decoration: none;
    margin-top: -20px;
}

@media only screen and (max-width: 1024px) {
    Menu .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
    }
    .nav .menu {
        display: none;
    }
    .babel-toggle {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        background-color: #f1a917;
        text-decoration: none;
        padding: 15px;
        font-size: 18px;
        color: #000;
        font-family: "Myrmenu";
        text-transform: uppercase;
        font-weight: bolder;
    }
    #button {
        display: block;
        cursor: pointer;
        width: 100%;
        justify-content: center;
    }
    #toggle-menu-id:checked~.menu {
        display: flex;
        flex-direction: column;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .menu li {
        display: block;
        width: 100%;
        text-align: center;
        border-top: 1px solid white;
    }
    /* content */
    .content {
        display: flex;
        /* flex-direction: column-reverse; */
        /*Sắp xếp item đảo ngược theo chiều dọc */
        flex-wrap: wrap;
        width: 100%;
    }
    .content-left {
        padding: 0 15px;
        width: 100%;
        display: block;
    }
    .article__header {
        display: block;
        width: 100%;
    }
    .article img {
        width: 100%;
    }
    .list-cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), 1fr));
    }
    .content-right {
        width: 100%;
        padding: 25px;
    }
    .content-right .box2 {
        padding: 0;
    }
    .content-right .box2 form {
        width: 100%;
        height: 100%;
    }
    .content-right .box2 .box-form {
        padding: 25px;
        height: 100%;
    }
    .tukhoa {
        width: 100%;
        height: 41px;
        margin-top: 22px;
        margin-left: 0;
    }
    .tukhoa input {
        width: 100%;
    }
    .selects {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .selects #thanhpho {
        width: 100%;
    }
    .colum {
        margin-top: 20px;
        margin-left: 0;
    }
    .search {
        cursor: pointer;
    }
    .form-colum-search {
        display: flex;
        justify-content: space-between;
    }
    .content-name-mid {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        grid-gap: 0;
        padding: 25px 15px;
    }
    /* Spa tieu bieu list-items */
    .content-mid-2 .flex-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
        /* grid-gap: 30px; */
        padding: 0 15px;
        width: 100%;
    }
    .content-box2 {}
    .content-nd img {}
    .textbox2 {}
    .see-more {
        display: flex;
        grid-gap: 0;
    }
    /* FOOTER */
    .footer-menu {
        display: flex;
        grid-gap: 0;
        flex-direction: column;
        padding: 15px 30px;
    }
    .footer-menu li {
        padding-right: 0;
    }
    .footer-group {
        display: flex;
        grid-gap: 0;
        /* flex-direction: column; */
    }
    .footer-group .menu-1 {}
    .footer-group .menu-2 {}
    .footer-info {
        display: flex;
        grid-gap: 0;
    }
    .footer {
        padding: 15px 30px;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* Menu */
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
    }
    .nav .menu {
        display: none;
    }
    .babel-toggle {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        background-color: #f1a917;
        text-decoration: none;
        padding: 15px;
        font-size: 18px;
        color: #000;
        font-family: "Myrmenu";
        text-transform: uppercase;
        font-weight: bolder;
    }
    #button {
        display: block;
        cursor: pointer;
        width: 100%;
        justify-content: center;
    }
    #toggle-menu-id:checked~.menu {
        display: flex;
        flex-direction: column;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .menu li {
        display: block;
        width: 100%;
        text-align: center;
        border-top: 1px solid white;
    }
    /* content */
    .content {
        display: flex;
        /* flex-direction: column-reverse; */
        /*Sắp xếp item đảo ngược theo chiều dọc */
        flex-wrap: wrap;
    }
    .content-left {
        padding: 0 15px;
    }
    .list-cards {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
    .cards {
        padding: 3px 10px;
    }
    .box-tittle {
        padding: 25px;
    }
    /* box address-filter */
    .content .box {
        display: flex;
        align-items: center;
        /* height: 130px; */
    }
    .content .box .name-content {
        font-size: 35px;
        margin-bottom: 0;
    }
    .box .nav-content {
        margin-top: 0;
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }
    .box .nav-content ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    .box .nav-content ul li {
        padding: 0;
    }
    .box .nav-content ul li a {
        font-size: 12px;
    }
    .content-right {
        width: 100%;
        padding: 25px;
    }
    .content-right .box2 {
        padding: 0;
    }
    .content-right .box2 form {
        width: 100%;
        height: 100%;
    }
    .content-right .box2 .box-form {
        padding: 25px;
        height: 100%;
    }
    .tukhoa {
        width: 100%;
        height: 41px;
        margin-top: 22px;
        margin-left: 0;
    }
    .tukhoa input {
        width: 100%;
    }
    .selects {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .selects #thanhpho {
        width: 100%;
    }
    .colum {
        margin-top: 20px;
        margin-left: 0;
    }
    .search {
        cursor: pointer;
    }
    .form-colum-search {
        display: flex;
        justify-content: space-between;
    }
    .content-name-mid {
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: none;
        flex-wrap: nowrap;
        width: 100%;
        grid-gap: 0;
        padding: 25px 15px;
    }
    /* Spa tieu bieu list-items */
    .content-mid-2 .flex-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        grid-gap: 30px;
    }
    .content-box2 {}
    .content-nd img {}
    .textbox2 {}
    .see-more {
        display: flex;
        grid-gap: 0;
    }
    /* FOOTER */
    .footer-menu {
        display: flex;
        grid-gap: 0;
        flex-direction: column;
        padding: 15px 30px;
    }
    .footer-menu li {
        padding-right: 0;
    }
    .footer-group {
        display: flex;
        grid-gap: 0;
        /* flex-direction: column; */
    }
    .footer-group .menu-1 {}
    .footer-group .menu-2 {}
    .footer-info {
        display: flex;
        grid-gap: 0;
    }
    .footer {
        padding: 15px 30px;
        height: 100%;
    }
}


/* @media only screen and (max-width: 720px) {}
  
  @media only screen and (max-width: 960px) {}
  
  @media only screen and (max-width: 1140px) {}
  
  @media only screen and (max-width: 1320px) {} */


/* Resposive */


/* @media only screen and (max-width: 1023px) {
    .content{
  flex-direction: column;
      }
      .box2{
        width: 100%;
      }
  }
  @media only screen and (min-width:768px) and (max-width: 1023px){
    .content{
      flex-direction: column;
          }
    
          .content-left{
            margin-left:0;
          }
          .list-cards{
            width: 85%;
            flex-wrap: wrap;
          
          }
         
          .box{
            width: 88%;
          }
          .nav-content{
            font-size: 12px;
            margin: 20px;
          }
          .content-mid-2{
            flex-wrap: wrap;
          }
  } */


/* @media(max-width:991px) {
    .box h1 {
      width: 100%;
    }
  
    .box .nav-content {
      display: inline-block;
      position: absolute;
      padding: 0px;
      margin-top: 7px;
    }
  } */


/* @media(max-width:991px) {
    .box .nav-content ul {
      padding: 0px;
      margin-left: 20px;
      position: static;
    }
  
    .nav-content ul li {
      margin: 0px;
    }
  } */


/* @media(max-width:991px) {
    .box li:nth-child(1) {
      padding: 0px 0px 0px 0px;
      margin-right: 15px;
    }
  
    .bpx li:nth-child(2) {
      padding: 0px 0px 0px 0px;
      margin-right: 15px;
    }
  
    .box li:nth-child(3) {
      padding: 0px 0px 0px 0px;
    }
  } */